:root {
	font-family: sans-serif;
}

body {
margin-top: 0;
padding-top: 0;
margin-bottom:  0;
padding-bottom:  0; 
}

main {
	display: flex;
	flex-wrap: wrap;
	padding: 5rem 1rem;
	justify-content: left;
}

div.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}


#title {
	width: 100%;
	color:  #696969;
	text-transform: uppercase;
	padding: 50px 100px 50px 20px;
	border: 2px solid #696969;
	margin: 0 0 50px 0;
	margin-right: -115px;
	font-weight: revert;
}


.category:first-child {
	color: white;
	background-color: cyan;
}

#listing-categories {
	margin-left: 5px;
}
.category {
	color:  #696969;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	width: 18%;
	padding: 20px 30px 20px 30px;
	margin: 40px 15px 0 -4px;
	border: 2px solid #696969;
}


.category-title {
	color: #696969;
	text-transform: uppercase;
	padding: 2rem 0 2rem 1.5rem;
	margin-left: 1rem;


}

ul li {
	color: black;
	margin-left: 1rem;
}

.list-item {
	color: lightseagreen;
	font-size: 20px;
}

ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: #696969;
    font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.main-content {
	border-top:  10px solid cyan!important;
	border: 1px solid #696969;
	width: 100%;
	margin-top:  20px;
	margin-left: 1px;
	margin-right: -130px;
	padding-right: 114px;
}

.hidden {
	display: none;
}

.titleArticle {
	color: #696969;
	margin-left: 35px;
}

.text {
	color: #696969;
	margin-left: 35px;
}
