$font: "sans-serif";
$width: 100%;
$color_grey: #696969;
$color_white: white;
$background_color: cyan;
$color_black: black;
$color_lightseagreen: lightseagreen;
$rootsize: 20px;
$maxwidth: 1200px;

:root {
  font-family: $font;
}

body {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: $color_white;
  font-family: $font;

  div.container {
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    background-color: $color_white;
    overflow: hidden;
    position: relative;
  }

  header {
    display: flex;
    padding: 1rem;
    border-style: solid;
    border-color: $color_grey;
    text-transform: uppercase;
    color: $color_grey;
  }

  nav {
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    background-color: $color_white;
    color: $color_grey;
    display: flex;
    justify-content: left;
    border: $color_grey;
    border-width: thin;

    a {
      color: $color_grey;
      font-size: $rootsize;
      border: solid;
      border-color: $color_grey;
      border-bottom: none;
      border-width: thin;
      text-decoration: none;
      padding: 2rem 1rem;
      padding-right: 5rem;
      margin-right: 1rem;
      display: inline-block;
      text-transform: uppercase;
      text-align: center;
      outline: none;
    }
  }

  main {
    padding: 0 1rem;
    color: $color_grey;
    border-style: solid;
    border-color: $color_grey;
    border-top: 10px solid $color_lightseagreen;

    h2 {
      text-transform: uppercase;
    }
  }
}
